<div class="container">
  <div class="card card-container">
    <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <form #frm="ngForm" (ngSubmit)="adicionar(frm)" class="form-signin">
      <span id="reauth-email" class="reauth-email"></span>
      
      <p-inputMask mask="999.999.999-99" type="text" name='cpf' class="form-control" placeholder="CPF"  required autofocus [(ngModel)]="credenciais.username" [required]="true"></p-inputMask>
     
      <input type="password" name='senha' class="form-control" placeholder="Password" required [(ngModel)]="credenciais.password">
      <div id="remember" class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <div class="fields">
        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" (click)="login()" [disabled]="frm.invalid">Login</button>
      </div>
    </form>
    <!-- /form -->
    <a href="/registrar" class="">
      Registrar
    </a>
  </div>
</div>




<!--Código Jean
<div id='wrapper'>
    <div class="fields">
      <input type="text" placeholder="CPF" name='cpf' [(ngModel)]="credenciais.cpf">
    </div>''
  
    <div class="fields">
      <input type="password" placeholder="password" name='senha' [(ngModel)]="credenciais.senha">
    </div>
    <div class="fields">
      <button (click)="login()">Login</button>
    </div>
    <div>
      <a href="/registrar">Registrara</a>
    </div>
  </div>
-->